.productLanding:global([data-brand="ituporg"]) {
	--background: var(--light);
	--foreground: var(--dark);

	h1 {
		font-size: 3rem;
		line-height: 100%;

		@media screen and (max-width: 768px) {
			font-size: 2.25rem;
			line-height: 100%;
		}
	}

	:global(.section) {
		padding: 3.5rem 0;

		@media screen and (max-width: 768px) {
			padding: 3.5rem 1rem;
		}
	}

	.header {
		background: var(--dark);
		color: var(--light);
		padding-top: 7.5rem;
		padding-bottom: 3rem;
	}

	@media screen and (max-width: 768px) {
		.header {
			padding: 1rem;
		}
	}
}
