.navbar {
	background: var(--dark);
	color: var(--foreground);
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;
	align-items: center;

	height: 3.75rem;
	padding: 0 10px;
	padding-left: 1.125rem;
	border-radius: 5rem;
	transition: all 0.3s;
	border: 1px solid rgba(255, 255, 255, 0.1);

	.logo {
		width: 3.5rem;
	}

	&Items {
		display: flex;
		gap: 2.5rem;
		align-items: center;
	}

	&Item {
		display: block;
		position: relative;
		cursor: default;
		font-weight: 400 !important;
		padding: 0 1.25rem;
		height: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;

		// &:not(._active) {
		// 	cursor: pointer;
		// }

		// &:not(._active):hover {
		// 	color: var(--primary);
		// }

		&._active {
			background: var(--primary);
			color: var(--foreground);
			border-radius: 2rem;
		}

		&::after {
			content: "";
			// cursor: pointer;
			position: absolute;
			left: -10%;
			bottom: -10%;
			width: 120%;
			height: 120%;
		}
	}

	.burgerBtn {
		display: none;
		cursor: pointer;
	}

	.contactBtn {
		display: block;
	}
}

@media screen and (max-width: 1280px) {
	.navbar {
		&Item {
			padding: 0 0.5rem;
		}
	}
}

@media screen and (max-width: 1140px) {
	.navbar {
		width: calc(100% - 1rem);
		min-width: calc(100% - 1rem);
		margin: 0 auto;
		padding: 1rem;

		&Items {
			display: none;
		}

		.burgerBtn {
			display: block;
		}
	}
}

@media screen and (max-width: 768px) {
	.navbar {
		width: 100%;
		min-width: 100%;
		padding: 1rem;
		background: var(--dark);
		border-radius: 0;

		.logo {
			width: 4.375rem;
			height: 2rem;
		}

		&Items {
			display: none;
		}

		.burgerBtn {
			display: block;
		}

		.contactBtn {
			display: none;
		}
	}
}

@media screen and (max-width: 640px) {
	.navbar {
		width: 100%;
		border-radius: 0;
		top: 0;
		left: 0;
		position: relative;
	}
}
